---
title: Csillagok Receptek
layout: layouts/home.njk
description: All you can eat recipes created by Geczy Csilla!
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
pagination:
  data: collections.recipes
  size: 9
  alias: recipes
  reverse: true
---

<div id="search" class="search"></div>

<script src="/_pagefind/pagefind-ui.js" onload="new PagefindUI({ 
  element: '#search', 
  showImages: true,
  processResult: function (result) {
      console.log(result);
      return result;
  }
});"></script>

<p>
  This is a recipe website of Csilla's original recipes. These were first posted on 
  <a target="_blank" href="https://cookpad.com/hu/felhasznalok/6659384">cookpad.hu</a>
</p>

<div id="recipes">
  <h2>Recipes</h2>
  <p align="center">
    <a href="{{ pagination.href.next }}" style="margin-right: 1.5em;">Previous</a>
      {%- for pageEntry in pagination.pages %}
          <a style="margin-right: 0.25em;" href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}</a>
      {%- endfor %}
    <a href="{{ pagination.href.next }}" style="margin-left: 1.25em;">Next</a>
  </p>
  {% set recipeslist = recipes %}
  {% include "recipeslist.njk" %}
  <p align="center">
    <a href="{{ pagination.href.next }}" style="margin-right: 1.5em;">Previous</a>
      {%- for pageEntry in pagination.pages %}
          <a style="margin-right: 0.25em;" href="{{ pagination.hrefs[ loop.index0 ] }}"{% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page"{% endif %}>{{ loop.index }}</a>
      {%- endfor %}
    <a href="{{ pagination.href.next }}" style="margin-left: 1.25em;">Next</a>
  </p>
</div>

<style>
  [aria-current] {
    font-weight: bold;
    font-size: 130%;
  }
</style>
