---
title: Title. Update me.
layout: layouts/home.njk
description: Description. Update me.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  This is a demo website based on 
  <a href="https://www.industrialempathy.com/recipes/eleventy-high-performance-blog/">eleventy-high-performance-blog</a>.
</p>

<div id="recipes">
  <h2>recipes</h2>
  {% set recipeslist = collections.recipes %}
  {% include "recipeslist.njk" %}
</div>