---
# Metadata comes from _data/metadata.json
permalink: "{{ metadata.jsonfeed.path | url }}"
eleventyExcludeFromCollections: true
---
{
  "version": "https://jsonfeed.org/version/1",
  "title": "{{ metadata.title }}",
  "home_page_url": "{{ metadata.url }}",
  "feed_url": "{{ metadata.jsonfeed.url }}",
  "description": "{{ metadata.description }}",
  "author": {
    "name": "{{ metadata.author.name }}",
    "url": "{{ metadata.author.url }}"
  },
  "items": [
    {%- for recipe in collections.recipes | reverse %}
    {%- set absoluteRecipeUrl %}{{ recipe.url | url | absoluteUrl(metadata.url) }}{% endset -%}
    {
      "id": "{{ absoluteRecipeUrl }}",
      "url": "{{ absoluteRecipeUrl }}",
      "title": "{{ recipe.data.title }}",
      "content_html": {% if recipe.templateContent %}{{ recipe.templateContent | dump | safe }}{% else %}""{% endif %},
      "date_published": "{{ recipe.date | rssDate }}"
    }
    {%- if not loop.last -%}
    ,
    {%- endif -%}
    {%- endfor %}
  ]
}
